<div class="row">
  <div class="col-xs-12"><h10 class="no-top">Vanessa Lianne Jewelry Lookbook</h10>
  </div>
</div>

<!-- Begin slider -->
<div class="col-xs-12">
  <div class="flexslider-container lookbook-flexslider">
    <div class="flexslider">
      <ul class="slides pull-center">
        {% for i in (1..10) %}
          {% capture show_slide %}display_slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <img src="{{ 'lookbook-1.jpg' | asset_url }}" />
            <p>&nbsp;</p>
          </li>   

          <li>
            <img src="{{ 'lookbook-2.jpg' | asset_url }}" />
            <p>&nbsp;</p>
          </li>  

          <li>
            <a href="/collections/{{ 'newest' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-3.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/collections/{{ 'newest' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-4.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/collections/{{ 'newest' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-5.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/collections/{{ 'newest' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-6.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          
          <li>
            <a href="/collections/{{ 'persephone' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-7.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/collections/{{ 'persephone' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-8.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          
          <li>
            <a href="/collections/{{ 'persephone' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-9.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/collections/{{ 'persephone' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-10.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <img src="{{ 'lookbook-11.jpg' | asset_url }}" />
            <p>&nbsp;</p>
          </li> 

          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-12.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>  
                  
          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-13.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-14.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-15.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-16.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          
          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-17.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/collections/{{ 'oreyah' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-18.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <img src="{{ 'lookbook-19.jpg' | asset_url }}" />
            <p>&nbsp;</p>
          </li>
          <li>
            <a href="/collections/{{ 'kye' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-20.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/collections/{{ 'kye' | collection.handle }}" target="blank">
                <img src="{{ 'lookbook-21.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/pages/{{ 'custom' | page.handle }}" target="blank">
                <img src="{{ 'lookbook-22.jpg' | asset_url }}" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/pages/{{ 'about' | page.handle }}" target="blank">
                <img src="{{ 'lookbook-23.jpg' | asset_url }}" />
              <p>Vanessa's Full Story &raquo;</p>
            </a>
          </li>

          <li>
            <img src="{{ 'lookbook-24.jpg' | asset_url }}" />
            <p>&nbsp;</p>
          </li>

          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>

<!-- End slider -->

<hr class="divider">
<div class="row download-lookbook pull-center">
  <a href="{{ 'lookbook.pdf' | asset_url }}">
    <input type="submit" id="add-to-cart" class="btn" name="add" value="Download + View as PDF">
  </a>
</div>