<div class="row">
  <div class="span12"><h10>Vanessa Lianne Jewelry is featured in: Vogue, WWD, Lucky, Globe &amp; Mail, NY Mag, &amp; Martha Stewart Living</h10>
  </div>
</div>

<!-- Begin slider -->
<div class="span12">
  <div class="flexslider-container press-flexslider">
    <div class="flexslider">
      <ul class="slides pull-center">
        {% for i in (1..10) %}
          {% capture show_slide %}display_slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" alt="Women's Wear Daily" />
              <h1>Women's Wear Daily</h1>
              <h3>October 2012</h3>
              <p>Click to purchase featured item</p>
            </a>
          </li>          
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" alt="{{ settings[alt] | escape }}" />
            <h1>Vogue</h1>
            <h3>Editorial featuring Katy Perry photographed by Annie Leibovitz, June 2013 Issue</h3>
            <p>Click to purchase featured item</p>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>

<div class="span12">
  <a href="http://gromn.myshopify.com/pages/stockists" class="previous-link" title="Vanessa Lianne Jewelry Stockists">← Where to Buy</a>
  <a href="http://gromn.myshopify.com/collections/all" class="next-link" title="Vanessa Lianne Jewelry">Shop Our Jewelry →</a>
</div>


<!-- End slider --><!-- 
<hr class="divider" />

<div class="row">
  
  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" />
  </div>

  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" />
  </div>
  
  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" />
  </div>

  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" />
  </div>
  
  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" />
  </div>

  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" />
  </div>
  
  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" />
  </div>

  <div class="span3">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" />
  </div>

</div>

 -->