<div class="row">
  <div class="col-xs-12"><h10 class="no-top">Vanessa Lianne Jewelry is featured in Vogue, Lucky Magazine, Women’s Wear Daily, New York Magazine, & more</h10>
  </div>
</div>

<div class="row press-logos pull-center">
      <img src="{{ 'vogue.png' | asset_url }}" />
      <img src="{{ 'lucky.png' | asset_url }}" />
      <img src="{{ 'wwd.png' | asset_url }}" />
      <img src="{{ 'nymag.png' | asset_url }}" />
</div>

<hr class="divider">

<div class="row">
  <div class="col-xs-12 press pull-center">

    <a href="/products/{{ 'fiona-ring' | product.handle }}" target="_blank">
      <img src="{{ 'press-vogue.jpg' | asset_url }}" alt="Katy Perry Vogue" class="press-image"/>
      <h1>Vogue</h1>
      <h3>Editorial featuring Katy Perry photographed by Annie Leibovitz, June 2013</h3>
      <p>Purchase Fiona Ring &raquo;</p>
    </a>

    <hr class="divider">

    <a href="/products/{{ 'cia-studs' | product.handle }}" target="_blank">
      <img src="{{ 'wwd-feature.jpg' | asset_url }}" alt="Women's Wear Daily" class="press-image"/>
      <h1>Women's Wear Daily</h1>
      <h3>October 2012</h3>
      <p>Purchase Cia Studs &raquo;</p>
    </a>

    <hr class="divider">

      <img src="{{ 'press-globemail.jpg' | asset_url }}" alt="The Globe &amp; Mail" class="press-image"/>
      <h1>The Globe & Mail</h1>
      <h3>June 2013</h3>
      <p>
        <a href="/products/{{ 'camille-ring' | product.handle }}" target="_blank">
          Purchase Camille Stacking Rings &raquo;
        </a>
        <a href="/products/{{ 'lace-ring' | product.handle }}" target="_blank"> 
          Purchase Lace Rings &raquo;
        </a>
      </p>


    <hr class="divider">

    <a href="/products/{{ 'tavion-necklace' | product.handle }}" target="_blank">
      <img src="{{ 'press-lucky.jpg' | asset_url }}" alt="The Globe &amp; Mail" class="press-image"/>
      <h1>Lucky Magazine</h1>
      <h3>March 2013</h3>
      <p>Purchase Tavion Necklace &raquo;</p>
    </a>
    
    <hr class="divider">

    <a href="/products/{{ 'collette-ring' | product.handle }}" target="_blank">
      <img src="{{ 'press-whistle.jpg' | asset_url }}" alt="The Globe &amp; Mail" class="press-image"/>
      <h1>News Whistle</h1>
      <h3>Fall Fashion Transitions, September 2013</h3>
      <p>Purchase Collette Ring &raquo;</p>
    </a>

    <hr class="divider">

    <a href="/products/{{ 'cobra-cuff' | product.handle }}" target="_blank">
      <img src="{{ 'press-kenton.jpg' | asset_url }}" alt="Kenton Magazine" class="press-image"/>
      <h1>Kenton Magazine</h1>
      <h3>Top 10 Women’s Music Festival Style Staples, April 2012</h3>
      <p>Purchase Cobra Cuff &raquo;</p>
    </a>

    <hr class="divider">

      <img src="{{ 'unrulythings.jpg' | asset_url }}" class="press-image" alt="Unruly Things"/>
      <h1>Unruly Things</h1>
      <h3>December 2010</h3>
      <p>
        <a href="/products/{{ 'camille-ring' | product.handle }}" target="_blank">
          Purchase Camille Stacking Rings &raquo;
        </a>
        <a href="/products/{{ 'camille-studs-with-diamonds' | product.handle }}" target="_blank">
          Purchase Camille Studs &raquo;
        </a>
      </p>


  </div>
</div>

