{% assign content = page.content | split: '<!-- split -->' %}


<div class="row">
  <div class="col-sm-12">
    <h10 class="no-top faq-header">Frequently Asked Questions &amp; Jewelry Care</h10>
  </div>
  <div class="col-sm-12 faq-questions">
    {{ content[0] }}
    <hr class="divider faq">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 faq-care">

    {{ content[1] }}

  <hr class="divider faq">

    {{ content[2] }}

  <hr class="divider faq">
   
    {{ content[3] }}

  <hr class="divider faq">
   
    {{ content[4] }}
  </div>
</div>
